/* General */

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
}

.align-center {
    text-align: center;
}

body {
    padding: 5rem;
    background-color: beige;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem auto;
}

/* Todo Buttons */

.button-container {
    height: fit-content;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    width: 20rem;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 10px 0px #00000033;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
}

/* Todo List */

#todo-list {
    margin: 0 auto;
    margin-top: 8rem;
    width: 50%;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    border: 2px solid #ccc;
    list-style-type: none;
}

#todo-list li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
    background-color: #FFF;
}

#todo-list button  {
    margin-right: 2rem;
    cursor: pointer;
}

#todo-list li:last-child{
    border-bottom: none;
}

#todo-list li:nth-of-type(odd){
    background-color: #f0f0f0;
}

#todo-list li:hover {
    background-color: #cbf3fa;
    cursor: pointer;
}

/* Todo Dialog */

dialog {
    margin: auto;
    height: 50%;
    max-width: 130rem;
    padding: 0 2rem;
    border-radius: 10px;
    background-color: beige;

    h2 {
        height: 10%;
        /* margin: 2rem auto; */
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    textarea {
        margin: 0 auto;
        min-width: 100%;
        min-height: 2rem;
        height: 60%;
        padding: 1rem;
        font-size: 1.6rem;
        border: 2px solid #ccc;
        border-radius: 5px;
        resize: none;
    }
    div {
        height: fit-content;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

